<h1>修改廟宇名稱</h1>

<%= form_for(@company, :url => edit_company_path) do |f| %>
	<div class="field">
		<%= f.text_field :name %>
	</div>

	<div class="actions">
		<%= f.submit %>
	</div>

<% end %>

<%= link_to "back", company_path %>