<p>Hola! It's <%= Time.now %></p>

<%= calendar(:year => 2004 , :month => 1, :first_day_of_week => 1) do |d|
      render_calendar_cell(d)
    end
%>

<p><%= link_to 'Hello!' , welcome_say_hello_path %></p>
<p><%= link_to 'Events' , welcome_events_path %></p>