<%- model_class = Event -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>
<%= render :partial => 'form' %>

<script>
$("#event_univalent").change(fun2);
function fun2(){
	var sum = $("#event_univalent").val() * $("#event_capacity").val();
	$("#event_sum").val(sum);
}
</script>