<h1>Events</h1>
<p>
  <strong>Thing:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date_time %>
</p>

<p><%= link_to 'Back to index', root_path %></p>